.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.icons {
    display: flex;
    flex-direction: row;
    background-color: azure;
    width: 50px;
    justify-content: space-around;
    align-items: center;
}
.icon {
    background-color: #30B44B;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.content {
    padding: 5px 20px 20px;
}
.top-banner {
    background-color: #EF8481;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px 0;
    border-radius: 18px;
}
.left-banner h1 {
    color: white;
}
.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.materi-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left-materi {
    display: flex;
    flex-direction: column;
}
.left-materi h3 {
    /* display: flex; */
    margin-bottom: 0;
}
.left-materi p {
    /* display: flex; */
    margin-top: 3px;
}
.materi-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 102px;
    background: #6DD7F9;
    border-radius: 4px;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}
.materi-card:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
    height: 102px;
    background: #BB83F6;
    border-radius: 4px;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}
.materi-card:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
    height: 102px;
    background: #F2B873;
    border-radius: 4px;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}
.materi-card:nth-child(4) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
    height: 102px;
    background: #CD6EA7;
    border-radius: 4px;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}
.materi-card:nth-child(5) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
    height: 102px;
    background: #5F4BD7;
    border-radius: 4px;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}
.materi-card:nth-child(6) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
    height: 102px;
    background: #BED47E;
    border-radius: 4px;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}
.to-wrapper {
    display: flex;
    justify-content: space-between;
}
.to-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding: 10px 0;
}
.to-right h3 {
    margin-bottom: 0;
}
.to-right p {
    margin-top: 3px;
}